@using BOL
@using Utils
@{
    ViewBag.Title = "Index";
    Customer customer = (Customer)this.Session["user"];

}

@{
    Dates dates = new Dates();
    int index = 1;
    List<Posts> posts = Model as List<Posts>;
    Customer user = (Customer)this.ViewData["profile"];
    List<Books> books = (List<Books>)this.ViewData["books"];
    Followers foll = (Followers)this.ViewData["follower"];

}

<div class="content">
    <div class="content-main">
        <div class="post-header shadow-light radius-bottom">
            <div class="hero-banner">
                <img class="hero-image" src="@user.banner" height="250" alt="Hero Banner">
                <!-- <img class="image hero-image" src="http://placeholder.code/1920x250/Hero Image" height="200" alt="Hero Banner"> -->
            </div>
            <div class="user-info-wrapper">
                <div class="user-profile-pic rounded">
                    <div class="pofile-pic-wrapper profile-pic-flair rounded">
                        <img class="image rounded" src="@user.image" width="100" height="100" alt="Profile Pic">
                        <!-- <img class="image rounded" src="http://placeholder.code/100x100/RT/50/845206/201256" alt="Profile Pic"> -->
                    </div>
                </div>
                <div class="user-basic-info">
                    <h2 class="user-full-name">@user.f_name @user.l_name</h2>
                    <h4 class="user-handle">
                        <a class="gray-6 anchor" href="profile.html">@@@user.customer_name</a>
                    </h4>
                </div>
                <div class="user-info">

                    @if (user.customer_name == "error404")
                    {
                        <i class="fas fa-user"></i>
                        <p>Sorry, this user does not exist!</p>
                    }
                    else
                    {
                        <i class="fas fa-user"></i>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    }
                    <p class="joined">
                        <i class="fas fa-calendar-alt"></i> @dates.Readable(user.joined_on, "dd MMMM, yyyy")
                    </p>
                </div>
                <div class="user-network">
                    <p class="user-follwers"><b>256</b> followers</p>
                    <p class="user-follwings"><b>12</b> following</p>
                    @if (user.customer_name != customer.customer_name)
                    {
                        if (customer != null && user.customer_name != "error404")
                        {
                            if (foll == null)
                            {
                                <form action="/user/@user.customerid/follow" method="post">
                                    <div class="user-follow-btn m-t-normal">
                                        <input type="hidden" id="follow" name="follow" />
                                        <input type="hidden" id="fname" name="fname" value="@user.customer_name" />
                                        <button name="follow" class="input">FOLLOW</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form action="/user/@user.customerid/unfollow" method="post">
                                    <div class="user-follow-btn m-t-normal">
                                        <input type="hidden" id="follow" name="follow" />
                                        <input type="hidden" id="fname" name="fname" value="@user.customer_name" />
                                        <button name="follow" class="input bg-accent-color border-accent clr-white">FOLLOWING</button>
                                    </div>
                                </form>
                            }
                        }
                    }

                </div>
            </div>
        </div>
        <div class="posts-container">
            <div class="sidebar sidebar-left">
                <div class="sidebar-content radius shadow-light">
                    <div class="sidebar-medias-container">
                        <div class="border-b bg-gray-100 w-100p flex justify-between items-center">
                            <h3 class="p-medium border-b bg-gray-100 w-100p">ACTIONS</h3>
                        </div>
                        <div class="sub-section p-wide">
                            <p>Nothing to see here right now.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts-wrapper">

                <div class="posts radius">
                    @foreach (Posts pos in posts)
                    {
                        <div class="post-content radius shadow-light">
                            <div class="post-header p-x-wide p-t-wide bg-gray-100">
                                <div class="user-profile-pic">
                                    <div class="user-profile-pic rounded flex items-center pointer">
                                        <div class="pofile-pic-wrapper profile-pic-flair rounded">
                                            <img class="image rounded" src="@pos.image" width="50" height="50" alt="Profile Pic">
                                        </div>
                                    </div>
                                </div>
                                <div class="user-basic-info">
                                    <h4 class="user-full-name">@pos.f_name @pos.l_name</h4>
                                    <h5 class="user-handle"><a class="gray-6 anchor" href="/@Html.Raw("@")@pos.user_name">@@@pos.user_name</a></h5>
                                </div>
                                <div class="user-book-info">
                                    <h4 class="user-book-name"><a class="anchor" href="/books/@pos.book_id">@pos.bookname</a></h4>
                                    <h5 class="user-book-author"><a class="gray-6 anchor" href="#">@pos.bookauthor</a></h5>
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-text m-b-medium p-x-wide">
                                    <p class="post-text-content" style="font-size: 1.15rem;">
                                        @pos.content
                                    </p>
                                </div>
                                @if (@pos.post_image_1 != "")
                                {
                                    <div class="post-image flex relative" style="height: 350px">
                                        <img class="image clr-white" src="@pos.post_image_1" alt="Post Image 1" data-image="1">
                                        @if (@pos.post_image_2 != "")
                                        {<img class="image hidden clr-white" src="@pos.post_image_2" alt="Post Image 2" data-image="2">}
                                        @if (@pos.post_image_3 != "")
                                        {<img class="image hidden clr-white" src="@pos.post_image_3" alt="Post Image 3" data-image="3">}
                                        @if (@pos.post_image_4 != "")
                                        {<img class="image hidden clr-white" src="@pos.post_image_4" alt="Post Image 4" data-image="4">}
                                        @if (pos.post_image_2 != "")
                                        {
                                            <div class="post-image-handles absolute flex flex-row">
                                                <span class="post-image-handle active" data-span="1"></span>
                                                <span class="post-image-handle m-l-normal" data-span="2"></span>
                                                @if (@pos.post_image_3 != "")
                                                {<span class="post-image-handle m-l-normal" data-span="3"></span>}
                                                @if (@pos.post_image_4 != "")
                                                {<span class="post-image-handle m-l-normal" data-span="4"></span>}
                                            </div>
                                        }
                                    </div>
                                }
                                <h5 class="post-date m-t-normal gray-6 p-t-normal p-x-wide">@dates.Readable(pos.created_at, "dd MMMM, yyyy")</h5>
                            </div>
                            <div class="post-footer relative p-x-wide p-b-wide">
                                <div class="post-footer-bar flex flex-row justify-between">
                                    <div class="post-footer-primary w-100p flex flex-row">
                                        <div class="like flex flex-row items-center m-r-normal"><i class="fas fa-thumbs-up"></i><span class="m-l-normal">22</span></div>
                                        <div class="dislike flex flex-row items-center m-r-normal"><i class="fas fa-thumbs-down"></i><span class="m-l-normal">5</span></div>
                                        <div class="comment flex flex-row items-center m-r-normal"><i class="fas fa-comment"></i><span class="m-l-normal">13</span></div>
                                        <div class="share flex flex-row items-center"><i class="fas fa-share"></i><span>Share</span></div>
                                        <div class="flex flex-row items-center m-l-auto m-r-normal">
                                            <button class="post-footer-add-comment bg-white pointer hover-bg-gray-dark border border-2 border-transp p-normal radius transition input transition-very-fast" data-add-comment="@index">
                                                <i class="fas fa-plus"></i> Add Comment
                                            </button>
                                        </div>
                                    </div>
                                    @if (customer.customer_name == pos.user_name)
                                    {
                                        <div class="post-footer-secondary relative flex items-center">

                                            <div class="post-action-menu hidden absolute bg-white flex flex-column no-wrap radius bg-white shadow-light border right-top m-b-normal zindex-8">
                                                @*<div class="flex flex-row p-y-medium p-x-wide radius hover-bg-gray-darker">
                                                        <p>Edit Post</p>
                                                    </div>*@
                                                <div class="flex flex-row p-y-medium p-x-wide radius hover-bg-gray-darker">
                                                    <form action="/post/@pos.post_id/delete" method="post">
                                                        <button type="submit" style="border: none; background-color: transparent">Delete Post</button>
                                                    </form>

                                                </div>
                                            </div>
                                            <button class="div-action-btn bg-white pointer hover-bg-gray-dark border border-2 border-transp p-normal radius transition input transition-very-fast"><i class="fas fa-ellipsis-v"></i></button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="post-comments-container p-x-wide">
                                <div class="post-comment-box-container hidden" data-comment-box="@index">
                                    <form action="/posts/add/comment" method="post">
                                        <div class="post-comment-textarea radius">
                                            <textarea class="post-comment-content wh-100p flex no-resize p-medium font-large outline-no radius input" name="postcommentcontent" id="postcommentcontent" cols="30" rows="4"></textarea>
                                            <input type="hidden" name="userid" id="userid" value="@pos.user_id" />
                                            <input type="hidden" name="postid" id="postid" value="@pos.post_id" />
                                            <div class="post-comment-actions flex flex-row justify-end m-t-medium">
                                                <div class="flex flex-row">
                                                    <button class="post-comment button bg-accent-color border-accent clr-white input" data-add-comment="@index">Comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="post-comments">
                                    @foreach (Comment comment in pos.comments)
                                    {
                                        <div class="post-comment w-100p m-t-medium flex flex-column p-medium border radius">
                                            <div class="post-comment-user flex flex-row">
                                                <div class="post-comment-user-avatar" style=" height: 25px; width: 25px;">
                                                    <div class="user-avatar radius-full" style=" height: 25px; width: 25px; background-color: darkseagreen;"></div>
                                                </div>
                                                <h5 class="m-l-normal uppercase">Rahul Thakare</h5>
                                                <h5 class="m-l-normal clr-gray-darkest-2x">@@@comment.user_name </h5>
                                            </div>
                                            <div class="post-comment-content m-t-normal">
                                                <div class="post-comment-body" style="text-align: left;line-height: 1.5rem;">
                                                    <p>@comment.content</p>
                                                </div>
                                                <div class="post-actions flex flex-row m-t-normal">
                                                    <div class="like flex flex-row items-center m-r-normal"><i class="fas fa-thumbs-up"></i><span class="m-l-normal">22</span></div>
                                                    <div class="dislike flex flex-row items-center m-r-normal"><i class="fas fa-thumbs-down"></i><span class="m-l-normal">5</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        {
                            index = index + 1;
                        }
                    }
                </div>
            </div>
            <div class="sidebar sidebar-right">
                <div class="sidebar-content radius shadow-light">
                    <div class="sidebar-medias-container">
                        <div class="border-b bg-gray-100 w-100p flex justify-between items-center">
                            <h3 class="p-medium border-b bg-gray-100 w-100p">Books</h3>
                            <span class="pill m-r-medium"><small>@books.Count</small></span>
                        </div>
                        <div class="sub-section p-wide">
                            @if (books.Count == 0)
                            {
                                <p class="block w-100p p-y-small">You'll see some good books here soon!</p>
                            }
                            @foreach (Books book in books)
                            {
                                <p class="block w-100p p-y-small"><a href="/book/@book.booksID" class="anchor">@book.bookname</a></p>
                            }
                        </div>
                    </div>
                    @*<div class="sidebar-medias-container m-b-wide">
                        <div class="sidebar-media-header">
                            <h3 class="sidebar-media-title">Followers</h3>
                            <span class="pill"><small>@books.Count</small></span>
                        </div>
                        <div class="sidebar-medias">
                            @foreach (Books book in books)
                            {
                                <p class="block w-100p p-y-small"><a href="/book/@book.booksID" class="anchor">@book.bookname</a></p>
                            }
                        </div>
                    </div>*@
                    @*<div class="sidebar-medias-container m-b-wide">
            <div class="sidebar-media-header">
                <h3 class="sidebar-media-title">Following</h3>
                <span class="pill"><small>@books.Count</small></span>
            </div>
            <div class="sidebar-medias">
                @foreach (Books book in books)
                {
                    <p class="block w-100p p-y-small"><a href="/book/@book.booksID" class="anchor">@book.bookname</a></p>
                }
            </div>
        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Create a post -->

<script>
    let postBtn = document.getElementById('post-something');
    let postContent = document.getElementById('post-content-wrapper');
    let postBox = document.getElementById('post-content-box');
    let closeBtn = document.getElementById('close-post-modal');
    let content = document.getElementById('post-content');
    let indicator = document.getElementById('post-length-indicator');
    let len = 0;
    let pct = 0;
    let maxLen = 200;
    let contentValue = '';

    postBtn.addEventListener("click", function () {
        postContent.classList.remove('hidden');
    }, false);
    postContent.addEventListener("click", function (e) {
        if (e.target == this) {
            postContent.classList.add('hidden');
            content.value = '';
            indicator.style.width = 0;
        }
    }, true);
    closeBtn.addEventListener("click", function () {
        postContent.classList.add('hidden');
        content.value = '';
        indicator.style.width = 0;
    }, false);

    content.addEventListener("keyup", function (e) {
        contentValue = content.value;
        len = contentValue.length;
        pct = (len / maxLen) * 100;
        indicator.style.width = pct + '%';

        if (e.keyCode == 27) {
            postContent.classList.add('hidden');
            content.value = '';
            indicator.style.width = 0;
        }

        if (len > maxLen) {
            indicator.style.backgroundColor = 'red';
            e.preventDefault();
            this.value = contentValue;
        } else {
            indicator.style.backgroundColor = 'green';
        }
    }, false);
</script>
<script>
    let imagePosts = document.querySelectorAll('.post-image');
    imagePosts.forEach(function (imagePost) {
        let images = imagePost.querySelectorAll('.image');
        let handles = imagePost.querySelectorAll('.post-image-handle');
        let index = 1;

        if (images.length == 1) {
            return;
        }

        handles.forEach(function (handle) {
            handle.addEventListener("click", function (e) {
                images.forEach(function (image) {
                    index = handle.dataset['span'];

                    if (index == image.dataset['image']) {
                        image.classList.remove('hidden');
                        handle.classList.add('active');
                    } else {
                        image.classList.add('hidden');
                        handles.forEach(function (handle) {
                            if (index != handle.dataset['span']) {
                                handle.classList.remove('active');
                            }
                        });
                    }
                });
            }, false);
        });
    })
</script>
<script>
    let actionBtns = document.querySelectorAll('.div-action-btn');
    let menu;

    actionBtns.forEach((btn) => {
        btn.addEventListener("click", (e) => {
            menu = btn.parentNode.querySelector('.post-action-menu');
            menu.classList.toggle('hidden');
        });
    })
</script>
<script>
    let postCommentBtns = document.querySelectorAll('.post-footer-add-comment');
    let postCommentBoxes = document.querySelectorAll('.post-comment-box-container');
    let commentBtns = document.querySelectorAll('.post-comment');

    postCommentBtns.forEach(btn => {
        btn.addEventListener("click", e => {
            let index = btn.dataset.addComment;
            if (postCommentBoxes[index - 1].dataset.commentBox == index) {
                let elem = postCommentBoxes[index - 1];
                let commentBox = elem.querySelector('.post-comment-content');
                commentBox.value = '';
                commentBox.focus();
                elem.classList.toggle('hidden');
                @*elem.parentNode.classList.toggle('m-t-medium')*@
                elem.parentNode.classList.toggle('p-b-wide')
            }
        }, false);
    });

    commentBtns.forEach(btn => {
        btn.addEventListener("click", e => {
            let index = btn.dataset.addComment;
            if (postCommentBoxes[index - 1].dataset.commentBox == index) {
                let elem = postCommentBoxes[index - 1];
                let commentBox = elem.querySelector('.post-comment-content');
                elem.classList.add('hidden');
                elem.parentNode.classList.remove('m-t-medium')
            }
        }, false);
    });
</script>