@using Utils;
@{ ViewBag.Title = "Login"; }

@model Models.Login

<div class="content">
    <div class="input-box">
        <div class="input-header">
            <h2>Please log-in</h2>
        </div>
        <div class="input-form">

            @if (this.Session["message"] != null) {
                <p>@Sessions.flash("message")</p>
            }

            @{ using (Html.BeginForm())
                {
        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                                        if (ViewBag.Message != null)
                                        {
                        <div style="border:solid 1px green">
                            ViewBag.Message
                        </div>}
                                                        @Html.LabelFor(m => m.Username)
                                                                        <br />
                                                                                        @Html.TextBoxFor(m => m.Username, new { @class = "input" })
                                                                                                        <br />
                                                                                                                        @Html.ValidationMessageFor(m => m.Username)
                                                                                                                                        <br />

                                                                                                                                                        @Html.LabelFor(m => m.Password)
                                                                                                                                                                        <br />
                                                                                                                                                                                        @Html.PasswordFor(m => m.Password, new { @class = "input" })
                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                        @Html.ValidationMessageFor(m => m.Password)
                                                                                                                                                                                                                                        <br />

                                                                                                                                                                                                                                                        <div class="input-actions">
                                                                                                                                                                                                                                                            <button class="button" type="submit">Log-in</button>

                                                                                                                                                                                                                                                            <a class="a-button" href="/forgot">Forgot password ??</a>
                                                                                                                                                                                                                                                        </div> } }
        </div>

    </div>
</div>