@{
ViewBag.Title = "Register"; 
}

@model Models.Register

<div class="content">
<div class="input-box">
<div class="input-header">
<h2>Please register</h2>
</div>
<div class="input-form">
@{ using (Html.BeginForm())

{

@Html.ValidationSummary(true)
@Html.AntiForgeryToken()
if (ViewBag.Message != null)
{
<div style="border:solid 1px green">
ViewBag.Message
</div>}
@Html.LabelFor(m => m.Username)
<br />
@Html.TextBoxFor(m => m.Username, new { @class = "input" })
<br />
@Html.ValidationMessageFor(m => m.Username)
<br />
@Html.LabelFor(m => m.Email)
<br />
@Html.TextBoxFor(m => m.Email, new { @class = "input" })
<br />
@Html.ValidationMessageFor(m => m.Email)
<br />
@Html.LabelFor(m => m.Password)
<br />
@Html.PasswordFor(m => m.Password, new { @class = "input" })
<br />
@Html.ValidationMessageFor(m => m.Password)
<br />
@Html.LabelFor(m => m.ConfirmPassword )
<br />
@Html.PasswordFor(m => m.ConfirmPassword , new { @class = "input" })
<br />
@Html.ValidationMessageFor(m => m.ConfirmPassword )
<br />
<div class="input-actions">
    <a class="a-button input" href="/login">Log-in</a>
    <button class="button bg-accent-color border-accent input clr-white" type="submit">Register</button>
</div> } }
</div>

</div>
</div>