@{
    ViewBag.Title = "Register"; 
    }

@model Models.Register

<div class="content">
    <div class="input-box">
        <div class="input-header">
            <h2>Please register</h2>
        </div>
        <div class="input-form">
            @{ using (Html.BeginForm())

                {

        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                                        if (ViewBag.Message != null)
                                        {
                        <div style="border:solid 1px green">
                            ViewBag.Message
                        </div>}
                                                        @Html.LabelFor(m => m.Username)
                                                                        <br />
                                                                                        @Html.TextBoxFor(m => m.Username, new { @class = "input" })
                                                                                                        <br />
                                                                                                                        @Html.ValidationMessageFor(m => m.Username)
                                                                                                                                        <br />
                                                                                                                                                        <label for="uemail">Email:</label>
                                                                                                                                                                        <br />
                                                                                                                                                                                        @Html.LabelFor(m => m.Email)
                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                        @Html.TextBoxFor(m => m.Email, new { @class = "input" })
                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                        @Html.ValidationMessageFor(m => m.Email)
                                                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                                                        @Html.LabelFor(m => m.Password)
                                                                                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                                                                                        @Html.PasswordFor(m => m.Password, new { @class = "input" })
                                                                                                                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                                                                                                                        @Html.ValidationMessageFor(m => m.Password)
                                                                                                                                                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                                                                                                                                                        @Html.LabelFor(m => m.Password2)
                                                                                                                                                                                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                                                                                                                                                                                        @Html.PasswordFor(m => m.Password2, new { @class = "input" })
                                                                                                                                                                                                                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                                                                                                                                                                                                                        @Html.ValidationMessageFor(m => m.Password2)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <br />
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <div class="input-actions">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <button class="button" type="submit">Register</button>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <a class="a-button" href="/Account/Login">Log-in</a>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </div> } }
        </div>

    </div>
</div>